body {
	font-family: calibri;
	opacity: 90%;

}

.link{
	color: cyan;
}

body{
	background-image: url("https://vignette.wikia.nocookie.net/pennyspoetry/images/7/7c/Highwayman.jpg/revision/latest/scale-to-width-down/340?cb=20130212041423");
}